<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Reset</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form action="/auth/reset/confirm/<%=token%>" method="POST">
          
            <label for="password">Password</label>
            <input type="password" placeholder="Enter password" name="password" required>
            <button type="submit">Submit</button>
        </form>
        <script src="" async defer></script>
    </body>
</html>